In [1]:
#create and print list
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [2]:
#add '6' to the list
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

In [3]:
#add (2,8) to the list
a.extend((2,8))
print(a)

[1, 2, 3, 4, 5, 6, 2, 8]

In [4]:
#removes the first '2'
a.remove(2)
print(a)

[1, 3, 4, 5, 6, 2, 8]

In [5]:
#delete the 5th item in the index
del a[5]
print(a)

[1, 3, 4, 5, 6, 8]

In [6]:
#insert '2' in 1st index
a.insert(1,2)
print(a)

[1, 2, 3, 4, 5, 6, 8]

In [7]:
#pop out the 4th element
a.pop(4)
print(a)

[1, 2, 3, 4, 6, 8]

In [8]:
#print new list b
b=[23, 2, 456, 98, 675, 0, 45, 3, 65]
print(b)

[23, 2, 456, 98, 675, 0, 45, 3, 65]

In [9]:
#print list b sorted (Temporarily)
print(sorted(b))

[0, 2, 3, 23, 45, 65, 98, 456, 675]

In [10]:
#permanently sort the list
b.sort()
print(b)

[0, 2, 3, 23, 45, 65, 98, 456, 675]

In [11]:
#sort in reverse
b.sort(reverse=True)
print(b)

[675, 456, 98, 65, 45, 23, 3, 2, 0]

In [12]:
#print 5th element
print(b[5])

23

In [13]:
#print all the elements
print(b[::])

[675, 456, 98, 65, 45, 23, 3, 2, 0]

In [14]:
#print elements 2 to 6
print(b[2:6])

[98, 65, 45, 23]

In [15]:
#print 0 to 7th element and ignoring 2nd element
print(b[0:7:2])

[675, 98, 45, 3]

In [16]:
#another way to print reverse (temporary)
print(b[::-1])

[0, 2, 3, 23, 45, 65, 98, 456, 675]

In [17]:
#print element 2's index
print(b.index(2))

7

In [18]:
#print the number of occurences of an element
print(b.count(3))

1